body{
    height: 100vh;
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: rgba(112, 14, 136, 0.345);
}

.header__title{
    margin: 0;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
}